In [1]:
import os
from pathlib import Path
import csv
import pandas as pd
import numpy as np

In [2]:
file1 = "Resources/election_data.csv"
poll_df = pd.read_csv(file1)
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [7]:
# The total number of votes cast
len(poll_df['Voter ID'].value_counts())

3521001

In [12]:
# A complete list of candidates who received votes
list(poll_df["Candidate"].unique())

['Khan', 'Correy', 'Li', "O'Tooley"]

In [17]:
# The percentage of votes each candidate won
percentage = 100*poll_df["Candidate"].value_counts()/len(poll_df['Voter ID'].value_counts())
percentage

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [64]:
# The total number of votes each candidate won
total = poll_df["Candidate"].value_counts()
total_df = pd.DataFrame(total)
total_df.rename(columns = {"Candidate": "votes"},  inplace=True)
total_df

            votes
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630

In [65]:
# The winner of the election based on popular vote.

print("""Election Results
------------------
Total Votes:""" + str(len(poll_df['Voter ID'].value_counts())) + 
"""\n------------------
The percentage of votes each candidate won:\n""" + str(percentage) +
"""\n------------------
The total number of votes each candidate won:\n""" + str(total_df)+
"""\n------------------
Winner: Khan
------------------"""
     )

Election Results
------------------
Total Votes:3521001
------------------
The percentage of votes each candidate won:
Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64
------------------
The total number of votes each candidate won:
            votes
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630
------------------
Winner: Khan
------------------