In [35]:
import os
from pathlib import Path
import csv
import pandas as pd
import numpy as np

In [36]:
file = "Resources/budget_data.csv"
bank_df = pd.read_csv(file)
bank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [37]:
# The total number of months included in the dataset
month = len(bank_df["Date"].unique())
month

86

In [38]:
# The net total amount of "Profit/Losses" over the entire period
total = bank_df["Profit/Losses"].sum()
print("$",format(total,","))

$ 38,382,578

In [39]:
# Calculate the changes in "Profit/Losses" over the entire period, then find the average of those changes
bank_df['change'] = bank_df['Profit/Losses'].shift(-1) - bank_df['Profit/Losses']
ave = format(bank_df["change"].mean(),",.2f")
ave

'-2,315.12'

In [40]:
# The greatest increase in profits (date and amount) over the entire period
bank_max = bank_df[bank_df["change"] == bank_df["change"].max()]
bank_max

        Date  Profit/Losses     change
24  Jan-2012        -755566  1926159.0

In [41]:
# The greatest decrease in profits (date and amount) over the entire period
bank_min = bank_df[bank_df["change"] == bank_df["change"].min()]
bank_min

        Date  Profit/Losses     change
43  Aug-2013         999942 -2196167.0

In [63]:
# print
print("Financial Analysis\n-----------------------------\nTotal Months:" + str(month) +"\nTotal: $ "+ str(total)+"\nAverage Change: $" + str(ave) + "\nGreatest Increase in Porfits:\n" + str(bank_max) + "\nGreatest Decrease in Porfits:\n" + str(bank_min))

Financial Analysis
-----------------------------
Total Months:86
Total: $ 38382578
Average Change: $-2,315.12
Greatest Increase in Porfits:
        Date  Profit/Losses     change
24  Jan-2012        -755566  1926159.0
Greatest Decrease in Porfits:
        Date  Profit/Losses     change
43  Aug-2013         999942 -2196167.0